<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

<link href='css/bootstrap.min.css' media='screen' rel='stylesheet' type='text/css'>
<link href='css/bootstrap-responsive.min.css' media='screen' rel='stylesheet' type='text/css'>


  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

    </style>

    </head>
    <body>

<!-- NAVBAR START -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">CCyS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="aqm">Monitoreo de gases</a></li>
              <li><a href="dusttrak">Particulado PM10</a></li>
              <li><a href="http://ccys.siafa.com.ar/manuales">Manuales</a></li>
              <li><a href="http://ccys.siafa.com.ar/software">Software</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<!-- NAVBAR START -->



<!-- CONTAINER START -->
    <div class="container white">


          {{ content }}


<hr>

      <footer>
        <p>&copy; SIAFA SRL</p>
      </footer>
</div> <!-- CONTAINER END -->

    </body>
</html>
